# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3

# Virtual environment
myenv/

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
