{% extends 'djangoproj/base.html' %}
{% load static %} 
{% block content %}
    <!-- <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}"> -->
    <h1 class="mb-6 text-3xl">Projects</h1>
    <a href="{% url 'project:add' %}" class="py-4 px-8 bg-sky-600 text-white inline-block">Add project</a>

    <div id="project-container">
        {% include "project/project_list.html" %}
    </div>

    <form method="post" style="display: none;">
        {% csrf_token %}
    </form>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}