{% extends 'djangoproj/base.html' %}
 
{% block content %}
<div class="max-w-xl mx-auto py-8 bg-slate-800 text-center">
    <h1 class="text-3xl text-white">Sign up</h1>

    <form class="px-8 space-y-4 mt-6" method="post" action=".">
        {% csrf_token %}
        <div>
            <label class="text-white" for="">Name</label>
            <input type="text" name="name" class="w-full py-4 px-6 bg-slate-500 text-white" >
        </div>

        <div>
            <label class="text-white" for="">Email</label>
            <input type="email" name="email" class="w-full py-4 px-6 bg-slate-500 text-white" >
        </div>

        <div>
            <label class="text-white" for="">Password</label>
            <input type="password" name="password1" class="w-full py-4 px-6 bg-slate-500 text-white" >
        </div>

        <div>
            <label class="text-white" for="">Repeat password</label>
            <input type="password" name="password2" class="w-full py-4 px-6 bg-slate-500 text-white" >
        </div>

        <div>
            <button class="py-4 px-8 bg-sky-600 text-white" name="signup">Sign up</button>
        </div>
    </form>
</div>
{% endblock %}